
<!DOCTYPE html>
{% load static  %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Responsive Bootstrap4 Shop Template, Created by Imran Hossain from https://imransdesign.com/">

	<!-- title -->
	<title>PET-EM</title>

	<!-- favicon -->
	<link rel="shortcut icon" type="image/png" href="{% static 'img/icon/icon-white.png' %}">
	<!-- google font -->
	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
	<!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/bootstrap/css/bootstrap.min.css' %}">
	<!-- owl carousel -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/owl.carousel.css' %}">
	<!-- magnific popup -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/magnific-popup.css' %}">
	<!-- animate css -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/animate.css' %}">
	<!-- mean menu css -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/meanmenu.min.css' %}">
	<!-- main style -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/main.css' %}">
	<!-- responsive -->
	<link rel="stylesheet" href="{% static 'cartpage/assets/css/responsive.css' %}">

</head>
<body>

	<!--PreLoader-->
    <div class="loader">
        <div class="loader-inner">
            <div class="circle"></div>
        </div>
    </div>
    <!--PreLoader Ends-->

	<!-- header -->
	<div class="top-header-area" id="sticker">
		<div class="container">
			<div class="row">
				<div class="col-lg-12 col-sm-12 text-center">
					<div class="main-menu-wrap">
						<!-- logo -->
						<div class="site-logo">
							<a href="">
								<img src="{% static 'img/icon/icon-white.png' %}" alt="">
							</a>
						</div>
						<!-- logo -->

						<!-- menu start -->
						<nav class="main-menu">
							<ul>
								<li class="current-list-item"><a href="{% url 'homepage' %}">HOME</a>
								</li>
								<li><a href="{% url 'aboutpage' %}"class="nav-item nav-link">ABOUT US</a></li>
								<li><a href="{% url 'petsection' %}">PETS</a></li>
								<li><a href="{% url 'petfood' %}">PET FOOD</a>
								<li><a href="{% url 'contact' %}">CONTACT</a></li>
                                <li><a href="{% url 'addtocart' %}" class="nav-item nav-link">CART</a></li>
            <li><a
              href="#"
              class="nav-item dropdown"
              data-bs-toggle="dropdown"
            >
              <i class="fa fa-regular fa-user nav-item nav-link"></i>
              {% if r.session.username %}
              <i> {{ r.session.username }}</i>
             {% endif %}
            </a
            >
				</li>
            <div class="dropdown-menu rounded-0 rounded-bottom m-0">
                <a href="{% url 'mainlogin' %}" class="dropdown-item">Login/Sign Up</a>
              <a href="{% url 'gologout' %}" class="dropdown-item">Logout</a>
            </div>
							</ul></nav></div>

								<li>
									<div class="header-icons">

									</div>
								</li>

							</ul>
						</nav>
						<a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
						<div class="mobile-menu"></div>
						<!-- menu end -->
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end header -->

	<!-- search area -->
	<div class="search-area">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<span class="close-btn"><i class="fas fa-window-close"></i></span>
					<div class="search-bar">
						<div class="search-bar-tablecell">
							<h3>Search For:</h3>
							<input type="text" placeholder="Keywords">
							<button type="submit">Search <i class="fas fa-search"></i></button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end search arewa -->

	<!-- breadcrumb-section -->
	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Grab Your Oder Now!</p>
						<h1>CART</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end breadcrumb section -->

	<!-- cart -->
	<div class="cart-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-12">
					<div class="cart-table-wrap">
						<table class="cart-table">
							<thead class="cart-table-head">
								<tr class="table-head-row">
									<th class="product-name">Name</th>
									<th class="product-price">Category</th>
									<th class="product-quantity">Quantity</th>
									<th class="product-total">Total</th>
									<th class="product-remove"></th>
								</tr>
							</thead>
							<tbody>
							{% for d in data %}
								<tr class="table-body-row">
									<td class="product-price">{{ d.Food }}</td>
									<td class="product-price">{{ d.Category }}</td>
									<td class="product-price">{{ d.Quantity }}</td>
									<td class="item-price">{{ d.Price }}₹</td>
									<td class="product-remove"><a href="{% url 'deletecart' dataid=d.id%}"><i class="fa fa-trash"></i></a></td>
									{% endfor %}
								</tr>
						</table>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="total-section">
						<table class="total-table">
							<thead class="total-table-head">
								<tr class="table-total-row">
									<th> Total Price</th>
									<th>Price</th>
								</tr>
							</thead>
							<tbody>
								<tr class="total-data">
									<td><strong>Shipping: </strong></td>
									<td>40₹</td>
								</tr>
								<tr class="total-data">
									<td><strong>Total Amount : </strong></td>
									<td id="totalPrice"></td>
								</tr>
							</tbody>
						</table>
						<div class="cart-buttons">
							<a id="calculateTotal" class="boxed-btn">UPDATE CART</a>
							<a href="{% url 'checkoutpage' %}" class="boxed-btn black">PLACE ORDER</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end cart -->



	<!-- footer -->
	<div class="footer-area">

	</div>
	<!-- end footer -->


	<!-- jquery -->
	<script src="{% static 'cartpage/assets/js/jquery-1.11.3.min.js' %}"></script>
	<!-- bootstrap -->
	<script src="{% static 'cartpage/assets/bootstrap/js/bootstrap.min.js' %}"></script>
	<!-- count down -->
	<script src="{% static 'cartpage/assets/js/jquery.countdown.js' %}"></script>
	<!-- isotope -->
	<script src="{% static 'cartpage/assets/js/jquery.isotope-3.0.6.min.js' %}"></script>
	<!-- waypoints -->
	<script src="{% static 'cartpage/assets/js/waypoints.js' %}"></script>
	<!-- owl carousel -->
	<script src="{% static 'cartpage/assets/js/owl.carousel.min.js' %}"></script>
	<!-- magnific popup -->
	<script src="{% static 'cartpage/assets/js/jquery.magnific-popup.min.js' %}"></script>
	<!-- mean menu -->
	<script src="{% static 'cartpage/assets/js/jquery.meanmenu.min.js' %}"></script>
	<!-- sticker js -->
	<script src="{% static 'cartpage/assets/js/sticker.js' %}"></script>
	<!-- main js -->
	<script src="{% static 'cartpage/assets/js/main.js' %}"></script>

<script>
// Get a reference to the Calculate Total button and the Total Price paragraph
var calculateButton = document.getElementById("calculateTotal");
var totalPriceElement = document.getElementById("totalPrice");

// Add a click event listener to the Calculate Total button
calculateButton.addEventListener("mouseover", function() {
  // Get all the item prices
  var itemPrices = document.getElementsByClassName("item-price");

  // Loop through the item prices and calculate the total price
  var totalPrice = 40 ;

  for (var i = 0; i < itemPrices.length; i++) {
    totalPrice += parseFloat(itemPrices[i].innerHTML);
  }

  // Update the Total Price element with the calculated total price
  totalPriceElement.innerHTML =totalPrice.toFixed(2);
});

</script>


    <!--   alert-->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

   {% if messages %}
  {% for message in messages %}

   {% if message.tags == 'warning' %}
   <script>
     swal('{{message}}','','warning');
   </script>

   {% elif message.tags == 'error' %}
   <script>
     swal('{{message}}','','error');
   </script>

   {% else%}
   <script>
     swal('{{message}}','','success');
   </script>

   {% endif %}

   {% endfor %} {% endif %}
</body>
</html>