<!DOCTYPE html>
{% extends "index.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="card">
                <div class="card-body"><br>
                  <h4>Distributer Info.</h4>
                  <br>
                  <div class="table-responsive pt-3">
                    <table class="table table-dark">
                      <thead>
                        <tr>
                          <th>
                            Name
                          </th>

                          <th>
                            Address
                          </th>
                          <th>
                            Mobile
                          </th>
                          <th>
                            Pet
                          </th>
                          <th>
                            Profile
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                      {% for d in data %}
                        <tr>
                          <td>
                            {{d.Name}}
                          </td>
                          <td>
                            {{d.Address}}
                          </td>
                          <td>
                            {{d.Mobile}}
                          </td>
                          <td>
                            {{d.Category}}
                          </td>

                          <td>
                           <img src="{{d.Image.url}}">
                          </td>
                          <td>
                          <form action="{% url 'editdistributer' dataid=d.id %}">
                          <button type="submit" class="btn btn-success">Edit</button>
                        </form>
                          </td>
                      <td>
                        <form action="{% url 'deldistributer' dataid=d.id %}">
                          <button type="submit" class="btn btn-danger">Delete</button>
                        </form>
                      </td>
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
</body>
</html>
{% endblock %}